server:
  port: 8082

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/gamestore_auth
    username: root
    password: 1234567890
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret: "myverystrongsecretkeythatismorethan32chars!!"
  expiration: 86400000

logging:
  level:
    org.springframework.web: DEBUG
    com.gamestore: DEBUG