# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
