server:
  port: 8085

spring:
  main:
    web-application-type: reactive
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        # Auth Service Routes
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        # Address Routes
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/addresses/**

        # Driver Routes
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/drivers/**

        # Restaurant Service Routes
        - id: restaurant-service
          uri: lb://RESTAURANT-SERVICE
          predicates:
            - Path=/restaurants/**

        # Order Service Routes
        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**

        # Delivery Service Routes
        - id: delivery-service
          uri: lb://DELIVERY-SERVICE
          predicates:
            - Path=/deliveries/**

        # Payment Service Routes
        - id: payment-service
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/payments/**

        #Notification Service Routes
        - id: notification-service
          uri: lb://NOTIFICATION-SERVICE
          predicates:
              - Path=/notifications/**
          filters:
              - RewritePath=/notifications/(?<segment>.*), /notifications/$\{segment}

        # Cart Service Routes
        - id: cart-service
          uri: lb://CART-SERVICE
          predicates:
            - Path=/cart/**

      # CORS Configuration
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - Authorization
            allowCredentials: false

# Eureka Client Configuration
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    fetchRegistry: true
    registerWithEureka: true
  instance:
    preferIpAddress: false
    hostname: localhost

# JWT Configuration (MUST MATCH auth-service!)
jwt:
  secret: "myverystrongsecretkeythatismorethan32chars!!"
  expiration: 3600000

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always

# Logging
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.fooddelivery.gatewayservice: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: TRACE
    org.springframework.security.web.server: TRACE